<header>
      <div class="container">
        <span class="header-logo"><a href="#"><img src="img/logo.png" alt=""></a></span>  
            <nav class="header-xxl-menu">
                   <ul>
                       <li><a href="#">About</a></li>
                       <li><a href="#">Download</a></li>
                       <li><a href="#">Workflow</a></li>
                       <li><a href="#">Support</a></li>
                       <li><a href="#">User Stories</a></li>
                       <li><a href="#">Contact</a></li>
                   </ul> 
            </nav> 
            <div class="xs-menu">
<div id="menu-burger">
  <span class="menu-icon"></span>
</div>
<div id="overlay-menu">
<nav class="overlay-menu-nav">
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Download</a></li>
    <li><a href="#">Workflow</a></li>
    <li><a href="#">Support</a></li>
    <li><a href="#">User Stories</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>  
</div>
</div>
<div class="clear"></div>
        <div class="header-info">
          <h3 class="header-info-h3">Built with app designers in mind</h3>
          <p class="header-info-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
          <a class="big-button" href="#">HOW IT WORK</a>
        </div>
        <div class="headerImage">
          <img src="img/iphone.png" alt="">
        </div>
        <div class="clear"></div>
      </div>
    </header>