<header>
      <div class="container">
        <span class="header__logo"><a href="#"><img src="img/logo.png" alt=""></a></span>  
            <nav class="header__nav">
                   <ul>
                       <li class="nav__item"><a class="nav__link" href="#">About</a></li>
                       <li class="nav__item"><a class="nav__link" href="#">Download</a></li>
                       <li class="nav__item"><a class="nav__link" href="#">Workflow</a></li>
                       <li class="nav__item"><a class="nav__link" href="#">Support</a></li>
                       <li class="nav__item"><a class="nav__link" href="#">User Stories</a></li>
                       <li class="nav__item"><a class="nav__link" href="#">Contact</a></li>
                   </ul> 
            </nav> 
            <div class="header__xs__menu">
<div class="header__xs__menu__burger">
  <span class="header__xs__menu__burger__icon"></span>
</div>
<div id="overlay-menu">
<nav class="header__xs__menu__nav">
  <ul>
    <li class="xs__menu__nav__item"><a class="xs__menu__nav__link" href="#">About</a></li>
    <li class="xs__menu__nav__item"><a class="xs__menu__nav__link" href="#">Download</a></li>
    <li class="xs__menu__nav__item"><a class="xs__menu__nav__link" href="#">Workflow</a></li>
    <li class="xs__menu__nav__item"><a class="xs__menu__nav__link" href="#">Support</a></li>
    <li class="xs__menu__nav__item"><a class="xs__menu__nav__link" href="#">User Stories</a></li>
    <li class="xs__menu__nav__item"><a class="xs__menu__nav__link" href="#">Contact</a></li>
  </ul>
</nav>  
</div>
</div>
<div class="clear"></div>
        <div class="header__info">
          <h3 class="header__info__title">Built with app designers in mind</h3>
          <p class="header__info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
          <a class="big__button" href="#">HOW IT WORK</a>
        </div>
        <div class="header__image">
          <img src="img/iphone.png" alt="">
        </div>
        <div class="clear"></div>
      </div>
    </header>