*
  margin: 0
  padding: 0

.clear
  float: none
  clear: both

.container
  width: 61%
  margin: 0 auto
  clear: both

/*header

header
  width: 100%
  background-image: url('/img/bg_header.png')
  background-size: 100% 100%

.header__logo img
  margin-top: 25px

.header__nav
  float: right
  margin-top: 55px
  ul li
    display: inline
    margin-right: 50px
    font-size: 18px
    font-weight: 100
    letter-spacing: 1px
    &:hover
      border-bottom: 2px solid white
      margin-top: 3px
    &:nth-child(6)
      margin-right: 0px
    a
      color: white
      text-decoration: none
      font-family: "Roboto" , sans-serif

/*menu

.header__xs__menu
  display: none

.header__xs__menu__burger
  width: 50px
  height: 50px
  background: #FF8C26
  border-radius: 50%
  position: relative
  float: right
  top: 25px
  cursor: pointer
  z-index: 200

.header__xs__menu__burger__icon
  display: block
  height: 2px
  width: 18px
  background: #fff
  position: absolute
  top: 50%
  left: 50%
  margin-left: -9px
  margin-top: -1px
  &:after
    content: ''
    display: block
    height: 2px
    width: 18px
    background: #fff
    position: absolute
    top: 50%
    left: 50%
    margin-left: -9px
    margin-top: -5px
    transition: 0.35s
  &:before
    content: ' '
    display: block
    height: 2px
    width: 18px
    background: #fff
    position: absolute
    top: 50%
    left: 50%
    margin-left: -9px
    margin-top: 4px
    transition: 0.35s
  &.open
    &:before
      transform: rotate(45deg)
      margin-top: -1px
      background: #000
    &:after
      transform: rotate(-45deg)
      margin-top: -1px
      background: #000

.header__xs__menu__burger.open, .header__xs__menu__burger__icon.open
  background: #fff

#overlay-menu
  position: fixed
  top: 0
  background: #000
  height: 100%
  width: 100%
  opacity: 0.85
  z-index: 100
  right: -100%
  transition: 0.35s
  &.open
    right: 0%

.header__xs__menu__nav
  height: 60%
  position: relative
  top: 50%
  left: 0
  transform: translateY(-50%)
  font-size: 32px
  text-align: center
  ul
    display: inline-block
    margin: auto
    height: 100%
    li
      position: relative
      color: #fff
      margin-bottom: 20px
      a
        color: #fff
        text-decoration: none
        font-family: "Roboto" , sans-serif
        &:after
          content: ' '
          display: block
          position: absolute
          top: 100%
          left: 0
          height: 3px
          width: 0%
          background: #fff
          transition: 0.25s
        &:hover:after
          width: 100%

/*headerBlock

.header__info
  width: 50%
  float: left
  margin-top: 235px

.header__info__title
  font-size: 35px
  font-family: "Roboto" , sans-serif
  color: rgb(255, 255, 255)
  letter-spacing: 0.5px

.header__info__text
  margin-top: 43px
  margin-bottom: 89px
  font-size: 20px
  font-family: "Roboto" , sans-serif
  color: rgb(255, 255, 255)
  line-height: 1.8

.big__button
  font-size: 18px
  font-family: "HelveticaNeue" , sans-serif
  color: rgb(255, 255, 255)
  text-transform: uppercase
  display: block
  padding-top: 20px
  padding-bottom: 20px
  width: 240px
  text-align: center
  text-decoration: none
  border: 2px solid white
  border-radius: 7px
  margin-bottom: 50px
  letter-spacing: 0.5px
  &:hover
    background-color: white
    color: #FF6633
    -webkit-transition: 0.6s
    -moz-transition: 0.6s
    -o-transition: 0.6s
    transition: 0.6s

.header__image
  margin-top: 122px
  margin-bottom: 95px
  width: 300px
  float: right
  img
    width: 100%
    height: 50%

/*worksBlock

.works
  width: 100%
  background-color: white
  padding-top: 100px
  padding-bottom: 100px

.works__h1
  text-align: center
  font-size: 34px
  font-family: "Roboto" , sans-serif
  color: rgb(52, 52, 52)

.works__subtitle
  text-align: center
  color: rgb(255, 132, 0)
  font-size: 18px
  font-family: "Roboto" , sans-serif
  text-transform: uppercase
  margin-bottom: 10px

.works__info
  width: 31%
  float: left
  margin-right: 3.5%
  margin-top: 80px
  text-align: center
  &:nth-child(3n+2)
    margin-right: 0px

.works__info__img
  display: block
  width: 40%
  margin: 0 auto

.works__info__p_title
  color: rgb(52, 52, 52)
  font-weight: 600
  margin-top: 50px
  margin-bottom: 20px
  a
    color: rgb(52, 52, 52)
    text-decoration: none
    &:hover
      color: rgb(92, 92, 92)

.works__info__p
  font-size: 18px
  font-family: "Roboto" , sans-serif

.works__info__p_text
  color: rgb(92, 92, 92)

/*contactsBlock

.contacts
  width: 100%
  background-image: url('/img/bg_contact.png')
  background-size: 100% 100%
  padding-top: 145px
  padding-bottom: 145px
  color: white

.contacts__h3
  text-align: center
  font-size: 30px
  font-family: "Roboto" , sans-serif
  color: rgb(255, 255, 255)
  font-weight: bold
  text-transform: uppercase
  letter-spacing: 4px

.contacts__p
  width: 750px
  margin: 0 auto
  margin-top: 10px
  text-align: center
  font-size: 18px
  font-family: "Roboto" , sans-serif
  color: rgb(255, 255, 255)
  line-height: 2

.contacts__form__email
  color: white
  width: 590px
  border: 2px solid white
  border-radius: 3px
  height: 60px
  font-size: 17px
  letter-spacing: 1px
  background: none
  outline: none
  margin-right: 25px

::-webkit-input-placeholder
  color: white
  padding-left: 20px
::-moz-placeholder
  color: white
  padding-left: 20px
:-moz-placeholder
  color: white
  padding-left: 20px
:-ms-input-placeholder
  color: white
  padding-left: 20px
/* webkit
/* Firefox 19+
/* Firefox 18-
/* IE
.contacts__form__email:focus
  border-color: white

.contacts__form__submit
  color: #FD8C2C
  background: white
  border: none
  border-radius: 3px
  width: 200px
  height: 62px
  font-size: 20px
  cursor: pointer
  outline: none
  box-shadow: 0 0 20px rgb(252, 99, 81)
  &:hover
    background-color: #FD8C2C
    color: white
    -webkit-transition: 0.6s
    -moz-transition: 0.6s
    -o-transition: 0.6s
    transition: 0.6s

.contacts__form
  width: 840px
  margin: 0 auto
  margin-top: 90px

/*footer

footer
  width: 100%
  border-top: 2px solid #D8D8D8
  background-color: white
  padding-top: 40px
  padding-bottom: 35px
  margin-top: 70px
  span
    font-size: 16px
    font-family: "Roboto" , sans-serif
    color: rgb(92, 92, 92)

.footer__icons
  float: right

.footer__icons__span
  margin-right: 20px
  &:nth-child(3)
    margin-right: 0px
  img
    height: 20px

/*media
@media (max-width: 1349px)
  .nav__item
    font-size: 13px

@media (max-width: 1234px)
  .header__info
    width: 55%
  .contacts__p
    width: 90%
  .contacts__form
    width: 90%
    text-align: center
  .contacts__form__email
    width: 57%

@media (max-width: 1132px)
  .header__nav
    display: none
  .header__xs__menu
    display: block
  .header__logo
    float: left
  .header__image
    width: 250px
    margin-top: 220px

@media (max-width: 985px)
  .contacts__form__email
    width: 100%
    margin-right: 0px
  .contacts__form__submit
    margin-top: 50px

@media (max-width: 917px)
  .works__info
    width: 45%
    &:nth-child(3n+2)
      margin-right: 3.5%
  .header__info
    width: 100%
    margin-top: 50px
  .header__image
    display: none

@media (max-width: 699px)
  .container
    width: 100%
  .header__logo
    margin-left: 20px
  .header__xs__menu__burger
    margin-right: 20px
  .works__info__p
    padding-left: 10px
    padding-right: 10px
  .works__info
    width: 100%
  .header__info
    width: 90%
    margin-left: 20px
    text-align: center
  .big__button
    margin: 0 auto
    margin-bottom: 50px
  .small__text
    display: block
    margin: 0 auto
    width: 220px
  .footer__icons
    float: none
    width: 110px
    margin: 0 auto
    margin-top: 10px