<footer>
			   <div class="container">
         <div class="footer-grid">
				<span class="copy">Copyright by Comtruavip 2017</span>
				<div class="soc-icons-footer">
				    <span class="soc-icons-footer-span"><a href="#"><img src="img/ic-face.png" alt=""></a></span>
				      <span class="soc-icons-footer-span"><a href="#"><img src="img/ic-googleplus.png" alt=""></a></span>
				    <span class="soc-icons-footer-span"><a href="#"><img src="img/ic-instagram.png" alt=""></a></span>
				</div>
        </div>
			  </div>
</footer>