---
title: Index page
navitems: [
{
    img: 'img/ic-food.png',
    caption: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry.'
},
{
    img: 'img/ic-cart.png',
    caption: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry.'
},
{
    img: 'img/ic-gears.png',
    caption: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry.'
},
{
    img: 'img/ic-people.png',
    caption: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry.'
},
{
    img: 'img/ic-edit.png',
    caption: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry.'
},
{
    img: 'img/ic-email.png',
    caption: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry.'
}]
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{# partial example #}
	{% include "partials/_header.html" %}
<!-- 	{# variable example #}
	<h1>{{title}}</h1> -->
<!-- worksBlock -->
           <section class="works-block">
             <div class="container">
              <p class="subtitle">how it works</p>
                <h1 class="h1">Lorem ipsum is simply</h1>
                {% for item in navitems %}
                  <div class="works-info-block">
                     <img class="works-info-block-img" src="{{item.img}}" alt="">
                       <p class="works-info-block-p works-info-block-p--title"><a href="#">{{item.caption}}</a></p>
                     <p class="works-info-block-p works-info-block-p--text">{{item.text}}</p>
                  </div>
                  {% endfor %}
                        <div class="clear"></div>
                </div>
            </section>
			<!-- contactsBlock -->
              <section class="contacts-block">
               <div class="container">
                <h3 class="h3">receive notification now</h3>
                <p class="contacts-block-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.</p>
                <form class="contacts-block-form">
                      <input class="contacts-form-mail" type="email" name="email" placeholder="Your email address ...">
                      <input class="contacts-form-submit" type="submit" name="submit" value="I'M READY!">
                </form>
                </div>
              </section>
	
	

<!-- 	{# mixin example #}
	{{mixins.icon('facebook')}}


	{# data usage example #}
		{% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
	{# end of example #}
{# partial example #} -->
	{% include "partials/_footer.html" %}
{% endblock %}
