---
title: Index page
navitems: [
{
    img: 'img/ic-food.png',
    caption: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry.'
},
{
    img: 'img/ic-cart.png',
    caption: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry.'
},
{
    img: 'img/ic-gears.png',
    caption: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry.'
},
{
    img: 'img/ic-people.png',
    caption: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry.'
},
{
    img: 'img/ic-edit.png',
    caption: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry.'
},
{
    img: 'img/ic-email.png',
    caption: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry.'
}]
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{# partial example #}
	{% include "partials/_header.html" %}

<!-- worksBlock -->
           <section class="works">
             <div class="container">
              <p class="works__subtitle">how it works</p>
                <h1 class="works__h1">Lorem ipsum is simply</h1>
                {% for item in navitems %}
                  <div class="works__info">
                     <img class="works__info__img" src="{{item.img}}" alt="">
                       <p class="works__info__p works__info__p_title"><a href="#">{{item.caption}}</a></p>
                     <p class="works__info__p works__info__p_text">{{item.text}}</p>
                  </div>
                  {% endfor %}
                        <div class="clear"></div>
                </div>
            </section>
			<!-- contactsBlock -->
              <section class="contacts">
               <div class="container">
                <h3 class="contacts__h3">receive notification now</h3>
                <p class="contacts__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.</p>
                <form class="contacts__form">
                      <input class="contacts__form__email" type="email" name="email" placeholder="Your email address ...">
                      <input class="contacts__form__submit" type="submit" name="submit" value="I'M READY!">
                </form>
                </div>
              </section>
	{% include "partials/_footer.html" %}
{% endblock %}
