<div class="container">
<!-- * header *  -->
<header>
	<a class="logo js-coup" href="#">JET<span>RO</span></a>
	<nav class="header__nav">
		<ul class="header__ul">
		   {% for item in menu %}
			<li class="header__li js-emergence"><a class="header__a {{item.active}}" href="{{item.link}}">{{item.menu}}</a></li>
		   {% endfor %}
		</ul>
	</nav>

	<div class="xs-menu">
<div class="xs-menu__burger">
  <span class="xs-menu__icon"></span>
</div>
<div class="overlay-menu">
<nav class="xs-menu__nav">
  <ul>
    {% for item in menu %}
       <li class="xs-menu__item"><a class="xs-menu__nav {{item.active}}" href="{{item.link}}">{{item.menu}}</a></li>
    {% endfor %}
  </ul>
</nav>  
</div>
</div>
</header>
</div>
<!-- * /header *  -->

<!-- * header-line *  -->
<div class="header-line">
<div class="header-left js-animat-left"></div>
<div class="header-info">
	<h2 class="caption js-animat-top">blog</h2>
</div>
<div class="header-right js-animat-right"></div>
</div>
<!-- * /header-line *  -->
